.input-wrapper {
  padding: 14px;
  position: relative; }
  .input-wrapper input {
    padding: 14px;
    line-height: 16px;
    font-size: 14px;
    outline: none;
    border: none;
    border-bottom: 1px solid #777; }
    .input-wrapper input:focus {
      border-color: #2196F3;
      border-width: medium medium 1px; }
  .input-wrapper input ~ label {
    position: absolute;
    top: 28px;
    left: 18px;
    font-size: 14px;
    opacity: 0.4;
    transition: 0.2s ease all; }
  .input-wrapper input:hover ~ label,
  .input-wrapper input:focus ~ label,
  .input-wrapper input:not(:focus):valid ~ label {
    top: 0;
    color: #2196F3;
    opacity: 1;
    font-size: 11px; }
  .input-wrapper select {
    padding: 14px;
    line-height: 16px; }
